name: Deploy Infrastructure

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
          
      - name: Terraform Init
        run: terraform init
        working-directory: app/tf
        
      - name: Terraform Validate
        run: terraform validate
        working-directory: app/tf
        
      - name: Terraform Plan
        run: terraform plan
        working-directory: app/tf
        
      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: app/tf
